.product {
  display: flex;
  align-items: center;
  height: 90vh;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.product-image {
  width: 40%;
}

.product-image > img {
  height: 500px;
  width: 400px;
  margin: 30px 10px 0 12%;
}

.product-info-productpage {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding: 70px;
  width: 50%;
}

.product-info-productpage h1,
h2,
h3,
p {
  margin: 10px;
}

.productpage-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.productpage-buttons button {
  margin-right: 15px;
  height: 40px;
  width: 50%;
}

.buynow-button {
  margin: 10px 10px 10px 0;
  height: 40px;
  width: 98%;
}

.other-info {
  text-align: center;
}

textarea {
  width: 50%;
}
.categories-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.categories-area > div {
  background-color: rgb(239, 239, 239);
  width: 20.5vw;
  border-radius: 25px;
}
.categories-area > div button {
  padding: 12px;
  font-size: 18px;
  border-radius: 25px;
  margin: 1%;
  border: none;
}

.gelatine {
  animation: gelatine 0.5s 1;
  background-color: rgb(32, 49, 65);
  color: whitesmoke;
}
.resource-display {
  min-height: 500px;
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
